body {
  font-family: "arial", sans-serif;
  padding-top: 20px;
}

div{
 font-family: "arial", sans-serif;
  padding-top: 20px;	
}
 
h1,h2,h3 {
	text-shadow: 2px 1px 5px #ffffff;
}
 
 
input, textarea {
	background-color: #fde9dc;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 2px 5px;
}
 
input[type=submit] {
	background: #fcd8c1;
	box-shadow: 0 1px 5px #0b0b0b;
	border: 0;
	padding: 7px;
	border: solid #fee0ba;
	border-radius: 10px;
}
 
input[type=submit]:hover {
	background-color: #e5d1bd;
	color: black;
}
 
span[id*=errors] {
	color: red;
	border: 3px solid #ff0000;
	margin: 3px 0px;
	display: inline-block;
}

div>a{
	background-color: #f6fff4;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
	border: solid #509a47;
	border-radius: 10px;
	text-decoration: none;	
}

div>a:hover {
	background-color: #fcfdff;
	color: black;
}
 
div table tr:hover {
	background-color: #cfc;
}

a:link, a:visited{
	color: black;
}
 
body>a {
	background-color: #dcffd7;
	margin-top: 3px;
	display: inline-block;
	padding: 3px;
	border: solid #509a47;
	border-radius: 10px;
	text-decoration: none;
}
 
body>a:hover {
	background-color: #fcfdff;
	color: black;
}
 
body table tr:hover {
	background-color: #cfc;
}

a:link, a:visited{
	color: black;
}
 
table {
	border-collapse: collapse;
	text-align: left;
	
}
 
table td {
	padding: 3px 20px;
}
 
tbody th,td {
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #0e0e0e;
	border-left: 1px solid #0e0e0e;
	border-bottom: 1px solid #0e0e0e;
	text-align: left;
}

table th {
	padding: 3px 20px;
	background-color: #7ad593;
}
 
table a {
	letter-spacing: 2px;
	font-size: 14px;
	color: black;
}
 
table a:hover {
	color: red;
}
 
table tr:nth-child(2n) {
	background-color: #fc9b76;
}
 
select {
	background: #fce4d7;
	box-shadow: 0 1px 5px #333;
	border: 0;
	border: solid #fbecdc;
	border-radius: 3px;
	margin-bottom: 5px;
}
 
option {
	background: #e9ad90;
	box-shadow: 0 1px 5px #333;
	border: 0;
	border: solid #fea5a0;
	border-radius: 4px;
}